Port {{ pillar['ssh']['port']}}
PermitRootLogin {{ pillar['ssh']['permit_root_login']}}
PasswordAuthentication {{ pillar['ssh']['password_auth']}}
AllowUsers {% for user in pillar['ssh']['allowed_users']%} {{user}}
{% endfor %}

