{% set fb = salt['pillar.get']('fail2ban', {}) %}

[DEFAULT]
bantime  = {{ fb.get('bantime', 600) }}
findtime = {{ fb.get('findtime', 600) }}
maxretry = {{ fb.get('maxretry', 5) }}
ignoreip = {{ fb.get('ignoreip', ['127.0.0.1/8']) | join(' ') }}

{% for jailname, jdata in fb.get('jails', {}).items() %}
[{{ jailname }}]
enabled  = {{ jdata.get('enabled', true) }}
port     = {{ jdata.get('port', 22) }}
maxretry = {{ jdata.get('maxretry', 3) }}
bantime  = {{ jdata.get('bantime', 3600) }}
{% if grains['os_family'] == 'Debian' %}
logpath  = /var/log/auth.log
{% else %}
logpath  = /var/log/secure
{% endif %}
{% endfor %}
