{%- set fb_default= salt['pillar.get']('fail2ban_common:default',{}) %}
[DEFAULT]
bantime= {{fb_default.get('bantime','20')}}
findtime= {{fb_default.get('findtime','20')}}
maxretry= {{fb_default.get('maxretry','6')}}
ignoreip= {{fb_default.get('ignoreip',[]) | join(' ')}}
backend  = {{ fb_default.get('backend', 'systemd') }}
{%- for jails,udate in  salt['pillar.get']('fail2ban_common:jails',{}).items() %}
[{{ jails }}]
bantime= {{udate.get('bantime','20')}}
findtime= {{udate.get('findtime','20')}}
maxretry= {{udate.get('maxretry','6')}}
ignoreip= {{udate.get('ignoreip',[])}}
enabled  = {{ udate.get('enabled', true) }}
port     = {{ udate.get('port', 22) }}
{%- endfor %}
