{% set fw = salt['pillar.get']('firewall', {}) %}

# Réinitialiser les règles
*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]

# Autoriser loopback
-A INPUT -i lo -j ACCEPT

# Autoriser connexions établies
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

# Autoriser les ports définis dans le pillar
{% for p in fw.get('common_ports', []) %}
-A INPUT -p {{ p['proto'] }} --dport {{ p['port'] }} -j ACCEPT
{% endfor %}

{% for p in fw.get('extra_ports', []) %}
-A INPUT -p {{ p['proto'] }} --dport {{ p['port'] }} -j ACCEPT
{% endfor %}

COMMIT
